/* fungsi mereset semua elemen*/
* {
    margin: 0px;
    padding: 0 px;
}

body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*NAVBAR*/
/*dalam nav terdapat 2 kompnen / items yaitu fungsi div(logo) dan ul(list)
    1. dibuat flexbox agar tampilan navbarnya berjejer ke kanan tidak ke bawah
    2. jika menggunakan flex, tidak lagi membutuhkan float, blok atau inline
    3. terdapat properti justify-content pada elemen flex fungsinya membuat jarak antar item
    4. pada padding nav untuk menentukan tinggi nav bisa juga menggunkanan height
    5. align-items untuk menentukan perataan hurufnya

*/
nav {
    display:flex;
    background-color:  #9c0c0c;
    justify-content: space-around;
    /*padding: 20px 0;*/
    height: 50px;
    align-items: center;
    color: white;
    
}

nav .logo{
    font-family: 'Pacifico', cursive;
    /*memberi spasi pada logo qiswatul ulfah*/
    letter-spacing: 3px;
}
nav ul{
    display:flex;
    /*menghilangkan item list*/
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color: white;
    /*menghilangkan garis bawah pada huruf*/
    text-decoration: none;
    font-size: 0.8em;
}

nav ul li a:hover{
    color: white;
    background-color: black;
    padding: 18px;

}


/*Hamburger Menu*/
.menu-toggle{
    /*mengatur ke kanan*/
    display: none;
    /*menggunakan properti flex yaitu flex-direction*/
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;

}

.menu-toggle input{
    /*gunakan position absolute supaya mudah diatur*/
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    /*membuat checkbook transparan*/
    opacity: 0;
    /*mengubah cursor menjadi gambar tangan*/
    cursor: pointer;
    /*agar tampilan chekbook transparannya di depan silang*/
    z-index: 2;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    /*waktu perubahan ketika burger menjadi silang*/
    transition: all 0.5s;
}

/*Hamburger menu animasi
    note: ponakannya input ya li
    cara membacanya:
    */

.menu-toggle span:nth-child(2){
    /*membuat silang pada span
        jika di tarik porosnya dengan ukuran sumbu x 0 sumbu y 0, maka akan membentuk silang
    */
    transform-origin: 0 0;  
}

.menu-toggle span:nth-child(4){
    /*membuat silang pada span
        jika di tarik porosnya dengan ukuran sumbu x 0 sumbu y 0, maka akan membentuk silang
        dan di ambil dari kanannya
    */
    background-color: white;
    transform-origin: 0 100%;  
}

/* EFEK hamburger bisa di klik yaitu dengan menggunakan sibling
    Cara membacanya:
    ketika menu-toggle di klik maka cari css yang mempunyai sodara sibling (~) / sodara 
    kandung span yang dia anak ke 2*/


.menu-toggle input:checked ~ span:nth-child(2){
   /*transform digunakan untuk membuat silang pada span
        translate digunakan untuk mengatur arah silangnya*/
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    /*transform digunakan untuk membuat silang pada span
        rotasinya ke atas maka di kasih minus (-)*/
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
 }
 

 .menu-toggle input:checked ~ span:nth-child(3){
    /*menghilangkan transform yang tengah*/
    opacity: 0;
    transform: scale(0);
 }




/*RESPONSIVE BREAKPOINT*/

/*ukuran tablet (768) 
    cara membacanya :
        ketika medianya screen/ layar dan ukuran maksimal adalah 768
        maka tampilan nav ul nya 50%
*/
@media screen and (max-width: 768px ){
    nav ul {
        width: 50%;
    }
}


/*ukuran mobile (576) 
    cara membacanya :
        ketika medianya screen/ layar dan ukuran maksimal adalah 768
        maka tampilan nav ul nya 50%
*/
@media screen and (max-width: 576px ){

    .menu-toggle{
        display: flex;
    }

    nav ul {
        /*membuat navbar tampil kebawah tanda garis tiga*/
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        height: 100vh; /*maksud 100 vh yaitu tinggi dari viewport height
                            artinya tinggi dari layar yang dilihat*/
        align-items: left;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: rgb(218, 44, 44);
        z-index: -1;
        transform: translateX(20%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide{
        transform: translateX(0);
        opacity:1;
    }
}